<div class="d-flex flex-wrap"> 
  <% @articles.each do |article| %>
  <div class="media">
    <% if article.image.attached? %>
        <td><%= image_tag article.image, class: "container_art" %></td>
    <% end %>
    <div class="container container_art bg-white p-3">
      <h4 class="yellow_color font-weight-bolder"><%= article.category.name %></h4>
      <h5 class="bg_color_title font-weight-bolder"><%= article.title %></h5>
      <p class="p_article"><%= article.body %></p>
      <%= link_to 'Read More', article, class: "orange_color_art" %>
    </div>
  </div>
  <% end %>
</div> 
