<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RailsCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/cf19c7517f.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg_color">
   <% if flash[:notice] %>
   <div class="alert alert-success text-center">
     <p class="notice mb-0"><%= notice %></p>
   </div>
   <% end %>
   <% if flash[:alert] %>
   <div class="alert alert-danger text-center">
     <p class="alert mb-0"><%= alert %></p>
   </div>
   <% end %>
   <header class="sticky-top my-background">
      <nav class="navbar navbar-expand-lg bg-white justify-content-between">
        <div>
          <%= link_to 'MOTOcrazy!!', root_path, class: "navbar-brand logo font-weight-bold"%>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to 'Home', articles_path, class: "nav-link orange_color" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Tech', root_path, class: "nav-link links_color" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Politics', root_path, class: "nav-link links_color" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Businnes', root_path, class: "nav-link links_color" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Entertainment', root_path, class: "nav-link links_color" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sports', root_path, class: "nav-link links_color" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Fashion', root_path, class: "nav-link links_color" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Travel', root_path, class: "nav-link links_color" %>
            </li>
        </div>
        <div class="justify-content-center">
          <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'login', new_session_path(resource_name), class: "nav-link text-uppercase links_color" %>
          </li>
          <li class="nav-item">
            <a class="nav-link links_color" href="#!">|</a>
          </li>
          <li class="nav-item">
            <%= link_to 'register', new_registration_path(resource_name), class: "nav-link text-uppercase  links_color" %>
          </li>
          <a class="nav-link">
            <i class="fas fa-search my-subtitle links_color"></i>
          </a>
          </ul>
        </div>
      </nav>
    </header>
    

    <%= yield %>

    <footer class="d-flex navbar justify-content-between align-items-center">
      <div class="w-25 align-items-center">
        <%= link_to 'MOTOcrazy!!', articles_path, class: "text-white font-weight-bold"%>
      </div>
      <nav class="w-50 py-1">
        <ul class="nav d-flex justify-content-center">
          <li class="nav-item">
            <a class="nav-link orange_color" href="#!">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link orange_color" href="#!">Terms & Conditions</a>
          </li>
        </ul>
      </nav>
      <div class="w-25 d-flex align-items-center justify-content-end">
        <p class="text-white m-1">Connect with us:</p>
        <i class="fab fa-twitter-square fa-2x orange_color m-1"></i>
        <i class="fab fa-instagram-square fa-2x orange_color m-1"></i>
        <i class="fab fa-facebook-square fa-2x orange_color m-1"></i>
      </div>
    </footer>
  </body>
</html>
